# **`ASSIGNMENT I`**
I am not updating errors, leaving it as it was submitted.

# **IMPORTS / USAGE**

In [71]:
from plotnine import *

from gapminder import *

from pandas import *
import pandas as pd

from numpy import *
import numpy as np

# **Question 1**

#### As you load and inspect your transaction dataframe, you can observe that the column names do not follow a similar convention. Apply the changes necessary to ensure all column names follow the same convention.

In [72]:
data_1 = pd.read_csv ("/Users/andrescastillo/Library/CloudStorage/OneDrive-Personal/OneDrive/CSUSM/FALL 2025/karimi_OM_group_project/OM_620/assignment_1/data/transaction_data.csv")

In [73]:
data_1.describe ()

            leadTime     unit_price  Order-Quantity
count  400634.000000  400634.000000   400634.000000
mean       25.760976     800.308766       79.933211
std         6.465948     374.746323       41.930024
min        14.000000     -85.222467      -98.000000
25%        28.000000     982.549477       63.000000
50%        28.000000     998.073561       93.000000
75%        28.000000    1006.155114      109.000000
max      2800.000000    1023.638643      194.000000

In [74]:
# column_4 from "leadTime" to "lead_time"
# column_6 from "Manufacturing Site" to "manufacturing_site"
# column_9 from "Order-Quantity" to "order_quantity"

def clean_data(data_1):
    data_1 = data_1.rename(columns={'leadTime': 'lead_time'})
    data_1 = data_1.rename(columns={'Manufacturing Site': 'manufacturing_site'})
    data_1 = data_1.rename(columns={'Order-Quantity': 'order_quantity'})
    return data_1

data_1_clean = clean_data(data_1)
data_1_clean.head()

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity
0,F544EBC2,WIP,MTS,28,993.199814,NaN,0514,2023-01-01,97
1,F6D696A7,FG,MTS,28,1011.724796,NaN,2056,2023-01-01,95
2,53B542CB,FG,MTS,28,1005.158694,PL-5C,06CC,2023-01-01,103
3,FE55EA7C,FG,MTS,28,997.138166,NaN,02B5,2023-01-01,58
4,BF7C4C4D,FG,MTO,28,998.995060,US-86,BCF8,2023-01-01,93

In [75]:
# I have saved the data change from question 1 with file name "data_clean_question_1"
        # data_1_clean = clean_data(data_1)
        # data_1_clean.head()

# **Question 2** 

#### Inspect the numeric features of your dataframe with the describe function. Provide a summary of these features, and in case there are any oddities/anomalies in your dataframe, locate and correct them.  Please remember to provide a note on any oddities you have found and a rationale for your suggested correction. You can do so by including a text for the changes you have applied in a corresponding markdown shell.

In [76]:
data_2 = pd.read_csv ("/Users/andrescastillo/Library/CloudStorage/OneDrive-Personal/OneDrive/CSUSM/FALL 2025/karimi_OM_group_project/OM_620/assignment_1/data/data_clean_question_1.csv")

In [77]:
data_2.describe

# can also do
#summary = data.describe (include = "all")
#print (summary)

# can also do
# summary = data.describe
# print (summary)

<bound method NDFrame.describe of        sku_number inventory_type stocking_type  lead_time   unit_price  \
0        F544EBC2            WIP           MTS         28   993.199814
1        F6D696A7             FG           MTS         28  1011.724796
2        53B542CB             FG           MTS         28  1005.158694
3        FE55EA7C             FG           MTS         28   997.138166
4        BF7C4C4D             FG           MTO         28   998.995060
...           ...            ...           ...        ...          ...
400629   EC6FF3B3             FG           MTS         28  1001.062261
400630   11E758A3             FG           MTS         28   998.751987
400631   4D9E4FD2             FG           MTS         28   990.457424
400632   0B4621F5             FG           MTS         28   999.121479
400633   8783A505             FG           MTS         28  1006.518704

       manufacturing_site division_code transaction_date  order_quantity
0                     NaN          0514       2023-01-01              97
1                     NaN          2056       2023-01-01              95
2                   PL-5C          06CC       2023-01-01             103
3                     NaN          02B5       2023-01-01              58
4                   US-86          BCF8       2023-01-01              93
...                   ...           ...              ...             ...
400629              JP-2B          E202       2024-12-30             101
400630              PL-D8          C672       2024-12-30             108
400631              PL-F5          C40B       2024-12-30             118
400632                NaN          EFE6       2024-12-30             148
400633                NaN          E202       2024-12-30              91

[400634 rows x 9 columns]>

In [78]:
# column_1 
    # data structure is "object"
    # simple sku identifier,  unique for each product
    # only 488 distinct SKUs
# column_2 
    # data structure is "object"
    # 
# column_3 
    # data structure is "object"
    # 
# column_4 
    # data structure is "int64"
    # 
# column_5 
    # data structure is "float64"
    # I have two SKUs with negative values (costs). The problem is that SKU 2D43CB75 appears 742 times, SKU EE77A077 appears 2759 times. 
    #   The recommendation here is that I drop the two instances for which I have two negative values without knowing what they mean, it probably has to do with a price adjustment or price item was sold at a loss, limiting losses. 
    #   However, the instance in which the negative price occurs in SKU 2D43CB75, there is a null value in column "manufacturing_site," I do not have to drop this, when I drop null values it will go away. 
    #   However, the instance in which the negative price price occurs in SKU 2D43CB75, there is no null values in any of the other columns, I must drop this row.

    # 2D43CB75
#        $(85.22)    1
#        $41.38 	68
#        $56.73 	64
#        $85.22 	124
#        $175.05 234
#        $195.74 251

    # EE77A077
#       $(49.95)	1
#       $37.57 	56
#       $47.93 	56
#       $49.95 	52
#       $53.44 	53
#       $59.53 	65
#       $987.25 1274
#       $1,012.13   1202

# column_6 
    # data structure is "object"
    # 
# column_7 
    # data structure is "object"
    # 
# column_8 
    # data structure is "object"
    # 
# column_9
    # data structure is "int64"
    #

In [81]:
data_2_clean = data_2
data_2_clean = data_2_clean[data_2_clean["unit_price"] != -49.9498371307158]
data_2_clean = data_2_clean[data_2_clean["unit_price"] != -85.2224673991495]
data_2_clean

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity
0,F544EBC2,WIP,MTS,28,993.199814,NaN,0514,2023-01-01,97
1,F6D696A7,FG,MTS,28,1011.724796,NaN,2056,2023-01-01,95
2,53B542CB,FG,MTS,28,1005.158694,PL-5C,06CC,2023-01-01,103
3,FE55EA7C,FG,MTS,28,997.138166,NaN,02B5,2023-01-01,58
4,BF7C4C4D,FG,MTO,28,998.995060,US-86,BCF8,2023-01-01,93
...,...,...,...,...,...,...,...,...,...
400629,EC6FF3B3,FG,MTS,28,1001.062261,JP-2B,E202,2024-12-30,101
400630,11E758A3,FG,MTS,28,998.751987,PL-D8,C672,2024-12-30,108
400631,4D9E4FD2,FG,MTS,28,990.457424,PL-F5,C40B,2024-12-30,118
400632,0B4621F5,FG,MTS,28,999.121479,NaN,EFE6,2024-12-30,148
400633,8783A505,FG,MTS,28,1006.518704,NaN,E202,2024-12-30,91

# **Question 3** 

#### Your transactional dataset includes many missing values. Find and address (in your dataframe) the missing values by column. Once more, remember to provide a note on the NaN values you found and a rationale for your suggested action.

In [82]:
data_3 = pd.read_csv ("/Users/andrescastillo/Library/CloudStorage/OneDrive-Personal/OneDrive/CSUSM/FALL 2025/karimi_OM_group_project/OM_620/assignment_1/data/data_clean_question_2.csv")

In [ ]:
print("Column names:", data_3.columns.tolist())
print("\nData types:\n", data_3.dtypes)
print("\nNull values per column:\n", data_3.isnull().sum())

Column names: ['sku_number', 'inventory_type', 'stocking_type', 'lead_time', 'unit_price', 'manufacturing_site', 'division_code', 'transaction_date', 'order_quantity']

Data types:
 sku_number             object
inventory_type         object
stocking_type          object
lead_time               int64
unit_price            float64
manufacturing_site     object
division_code          object
transaction_date       object
order_quantity          int64
dtype: object

Null values per column:
 sku_number              1265
inventory_type          5912
stocking_type           6441
lead_time                  0
unit_price                 0
manufacturing_site    100069
division_code          23757
transaction_date           0
order_quantity             0
dtype: int64

In [84]:
data_3_no_nulls = data_3.dropna()
data_3_no_nulls.head()

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity
2,53B542CB,FG,MTS,28,1005.158694,PL-5C,06CC,2023-01-01,103
4,BF7C4C4D,FG,MTO,28,998.995060,US-86,BCF8,2023-01-01,93
6,3D7DF103,FG,MTS,28,996.426246,PL-F5,3B87,2023-01-01,104
9,E1CC60BC,FG,MTO,28,997.554097,PL-F5,BCF8,2023-01-01,92
10,740A6465,FG,MTO,28,995.922511,CA-0B,0514,2023-01-01,121

# **Question 4**

#### It's time to focus on the subset of this dataset we need. Since we are ultimately interested in calculating safety stock, we would like to focus on finished goods that are designated as "make to stock." Create a filtered subset of your transaction dataset and write appropriate code to answer the following questions (for the filtered data).
#### •	How many unique SKUs are we working with?
#### •	How many unique Manufacturing Sites are we working with?
#### •	How many Divisions are we working with?
#### •	What are the top and bottom 10 transactions by order quantity?
#### •	What are the top and bottom 10 transactions by total sales value? Hint: Notice sales is not a feature of this dataset, thus we must calculate it using the existing features.

In [85]:
data_4 = pd.read_csv ("/Users/andrescastillo/Library/CloudStorage/OneDrive-Personal/OneDrive/CSUSM/FALL 2025/karimi_OM_group_project/OM_620/assignment_1/data/data_clean_question_3.csv")

In [91]:
# unique SKUs
sku_count = data_4 ["sku_number"].nunique()
sku_count

480

In [92]:
# unique sites
site_count = data_4 ["manufacturing_site"].nunique()
site_count

15

In [90]:
# unique dvisions
division_count = data_4 ["division_code"].nunique()
division_count

66

In [93]:
# top 10 by order quantitiy
top_order_quantity = data_4.nlargest(n = 10, columns = "order_quantity")
top_order_quantity

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity
130857,AD8D5363,WIP,MTS,28,1001.452540,PL-F5,0514,2023-12-15,193
52836,D5C05A4C,FG,MTO,28,990.594665,PL-F5,C40B,2023-05-21,184
238533,6374C42B,RM,MTS,28,1009.715112,PL-D8,2DEB,2024-09-30,182
239759,32843A68,FG,MTS,28,1007.025152,US-86,06CC,2024-10-03,182
243437,73803309,RM,MTS,28,1018.136250,JP-2B,3B87,2024-10-13,182
208221,0336A033,FG,MTS,28,999.224537,JP-8C,EBDE,2024-07-10,181
39030,0019425F,FG,MTS,28,1004.366509,US-86,06CC,2023-04-14,180
106423,6970C929,FG,MTO,28,998.891440,JP-F8,3B87,2023-10-11,180
173778,7D60C5D8,FG,MTS,28,997.172751,PL-D8,7F24,2024-04-08,180
188914,633E44A4,FG,MTS,28,1001.723540,PL-F5,EBDE,2024-05-19,180

In [94]:
# bottom 10 by order quantity
bottom_order_quantity = data_4.nsmallest(n = 10, columns = "order_quantity")
bottom_order_quantity

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity
204813,79FAFFF1,WIP,MTS,21,207.344912,CA-0B,E202,2024-07-01,-54
24805,BC55FF7F,FG,MTO,21,191.327975,PL-E4,02B5,2023-03-07,-52
188961,0980E63F,RM,MTO,21,200.425909,PL-4A,0514,2024-05-19,-50
212703,73803309,FG,MTO,21,218.328503,PL-D8,2056,2024-07-22,-50
187305,313AF9CD,FG,MTO,21,194.559157,PL-F5,EFE6,2024-05-15,-49
73752,BED0B828,RM,MTS,21,205.361776,PL-D8,0514,2023-07-16,-48
153123,C477701E,FG,MTO,21,202.881912,PL-F5,C40B,2024-02-13,-46
154496,9115DE13,FG,MTO,21,204.428461,PL-F5,C672,2024-02-17,-46
257419,CBA11DC3,FG,MTS,21,206.590119,JP-55,C672,2024-11-19,-45
36830,BCB42CB2,FG,MTS,21,220.316820,PL-D8,629D,2023-04-08,-44

In [96]:
data_4["total_sales"] = data_4["unit_price"] * data_4["order_quantity"]
data_4.head ()

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity,total_sales
0,53B542CB,FG,MTS,28,1005.158694,PL-5C,06CC,2023-01-01,103,103531.345433
1,BF7C4C4D,FG,MTO,28,998.995060,US-86,BCF8,2023-01-01,93,92906.540590
2,3D7DF103,FG,MTS,28,996.426246,PL-F5,3B87,2023-01-01,104,103628.329580
3,E1CC60BC,FG,MTO,28,997.554097,PL-F5,BCF8,2023-01-01,92,91774.976914
4,740A6465,FG,MTO,28,995.922511,CA-0B,0514,2023-01-01,121,120506.623834

In [97]:
# top 10 transactions
top_total_sales = data_4.nlargest(n = 10, columns = "total_sales")
top_total_sales

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity,total_sales
130857,AD8D5363,WIP,MTS,28,1001.452540,PL-F5,0514,2023-12-15,193,193280.340147
243437,73803309,RM,MTS,28,1018.136250,JP-2B,3B87,2024-10-13,182,185300.797536
238533,6374C42B,RM,MTS,28,1009.715112,PL-D8,2DEB,2024-09-30,182,183768.150411
239759,32843A68,FG,MTS,28,1007.025152,US-86,06CC,2024-10-03,182,183278.577584
52836,D5C05A4C,FG,MTO,28,990.594665,PL-F5,C40B,2023-05-21,184,182269.418359
49397,2BC32D8E,FG,MTO,28,1010.985767,PL-F5,2056,2023-05-12,179,180966.452236
208221,0336A033,FG,MTS,28,999.224537,JP-8C,EBDE,2024-07-10,181,180859.641232
39030,0019425F,FG,MTS,28,1004.366509,US-86,06CC,2023-04-14,180,180785.971545
188914,633E44A4,FG,MTS,28,1001.723540,PL-F5,EBDE,2024-05-19,180,180310.237116
106423,6970C929,FG,MTO,28,998.891440,JP-F8,3B87,2023-10-11,180,179800.459130

In [98]:
# bottom 10 transactions
bottom_total_sales = data_4.nsmallest(n = 10, columns = "total_sales")
bottom_total_sales

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity,total_sales
204813,79FAFFF1,WIP,MTS,21,207.344912,CA-0B,E202,2024-07-01,-54,-11196.625238
212703,73803309,FG,MTO,21,218.328503,PL-D8,2056,2024-07-22,-50,-10916.425134
188961,0980E63F,RM,MTO,21,200.425909,PL-4A,0514,2024-05-19,-50,-10021.295474
24805,BC55FF7F,FG,MTO,21,191.327975,PL-E4,02B5,2023-03-07,-52,-9949.054707
73752,BED0B828,RM,MTS,21,205.361776,PL-D8,0514,2023-07-16,-48,-9857.365251
36830,BCB42CB2,FG,MTS,21,220.316820,PL-D8,629D,2023-04-08,-44,-9693.940070
187305,313AF9CD,FG,MTO,21,194.559157,PL-F5,EFE6,2024-05-15,-49,-9533.398678
154496,9115DE13,FG,MTO,21,204.428461,PL-F5,C672,2024-02-17,-46,-9403.709221
153123,C477701E,FG,MTO,21,202.881912,PL-F5,C40B,2024-02-13,-46,-9332.567950
257419,CBA11DC3,FG,MTS,21,206.590119,JP-55,C672,2024-11-19,-45,-9296.555346

# **References**

#### no external references were used

# **`ASSIGNMENT 2`**
I am not updating errors, leaving it as it was submitted.

Import usage

In [ ]:
# Loading the required libraries (only these are necessary)
import pandas as pd
import numpy as np
from scipy.stats import norm

Loading dataset(relative) and cleaning data before use.

In [ ]:
# Importing raw data via a relative path
df = pd.read_csv('../data/transaction_data.csv')
# Standardize column names for easier access and understanding
df_clean = df.rename(columns={
    'Lead Time': 'leadTime',
    'Order-Quantity': 'order_quantity',
    'Manufacturing Site': 'manufacturing_site'
})
df_clean = df_clean[df_clean['unit_price'] >= 0]
df_clean = df_clean[df_clean['order_quantity'] >= 0]
df_clean = df_clean[df_clean['leadTime'] < 2800]
# Drop rows where essential identifiers or categories are missing
df_clean = df_clean.dropna(subset=['sku_number', 'inventory_type', 'stocking_type'])
df_filtered = df_clean[
    (df_clean['inventory_type'] == 'FG') & 
    (df_clean['stocking_type'] == 'MTS')
].copy()
# Print the shape (rows, columns) of the dataframes to verify cleaning/filtering
print(f"Cleaned data shape: {df_clean.shape}")
print(f"Filtered (FG, MTS) data shape: {df_filtered.shape}")

Cleaned data shape: (367271, 9)
Filtered (FG, MTS) data shape: (140394, 9)

Question 1 is featured below, aggregating order quantities, getting average lead time, and lastly displaying the transformed dataset.

In [ ]:
df_agg = df_filtered.groupby('sku_number').agg(
    # Calculate min, max, mean, median, variance, and std dev for order quantity
    qty_min=('order_quantity', 'min'),
    qty_max=('order_quantity', 'max'),
    qty_avg=('order_quantity', 'mean'),
    qty_median=('order_quantity', 'median'),
    qty_var=('order_quantity', 'var'),
    qty_std=('order_quantity', 'std'),
    
    avg_lead_time=('leadTime', 'mean')
).reset_index()
# Display the first 5 rows of the new aggregated DataFrame
print("\nAggregated SKU Statistics (Head):")
df_agg.head()

Aggregated SKU Statistics (Head):

,sku_number,qty_min,qty_max,qty_avg,qty_median,qty_var,qty_std,avg_lead_time
0,0019425F,38,180,98.726005,98.0,372.534060,19.301141,28.0
1,00DCA10C,0,28,9.834437,9.0,42.245740,6.499672,14.0
2,01FE860A,1,27,9.590909,9.0,41.689218,6.456719,14.0
3,0336A033,40,181,100.386293,100.0,418.525642,20.457899,28.0
4,058CD6C0,34,174,98.641903,98.0,406.347015,20.158051,28.0

Question 2 is featured below, defining service levels and getting the z-scores necessary for safety stock calculations.

In [ ]:
# Define the target cycle service levels (CSL) as probabilities
service_levels = [0.75, 0.90, 0.95]
z_scores = {sl: norm.ppf(sl) for sl in service_levels}

# Print the calculated Z-scores formatted to 4 decimal places
print(f"Z-score for 75% SL: {z_scores[0.75]:.4f}")
print(f"Z-score for 90% SL: {z_scores[0.90]:.4f}")
print(f"Z-score for 95% SL: {z_scores[0.95]:.4f}")

Z-score for 75% SL: 0.6745
Z-score for 90% SL: 1.2816
Z-score for 95% SL: 1.6449

The sqrt(L) factor gets used to get the last lead time for the SS to calculate with, which is necessary to get our final results for the 3 different requirements/z-scores.

In [ ]:
df_ss = df_agg.copy()

df_ss['sqrt_lead_time'] = np.sqrt(df_ss['avg_lead_time'])
# Calculating the raw safety stock based on the formula SS = Z * std_dev_demand_per_period * sqrt(lead_time_in_periods)
df_ss['ss_75_raw'] = z_scores[0.75] * df_ss['qty_std'] * df_ss['sqrt_lead_time']
df_ss['ss_90_raw'] = z_scores[0.90] * df_ss['qty_std'] * df_ss['sqrt_lead_time']
df_ss['ss_95_raw'] = z_scores[0.95] * df_ss['qty_std'] * df_ss['sqrt_lead_time']

df_ss['ss_75'] = np.ceil(df_ss['ss_75_raw']).fillna(0)
df_ss['ss_90'] = np.ceil(df_ss['ss_90_raw']).fillna(0)
df_ss['ss_95'] = np.ceil(df_ss['ss_95_raw']).fillna(0)
# Display the final safety stock values for the first 5 SKUs
print("SKU Safety Stock Calculations (Head):")
df_ss[['sku_number', 'ss_75', 'ss_90', 'ss_95']].head()

SKU Safety Stock Calculations (Head):

  sku_number  ss_75  ss_90  ss_95
0   0019425F   69.0  131.0  168.0
1   00DCA10C   17.0   32.0   41.0
2   01FE860A   17.0   31.0   40.0
3   0336A033   74.0  139.0  179.0
4   058CD6C0   72.0  137.0  176.0

We use nlargest().

In [ ]:
# Find the SKU with the single largest safety stock at the 95% service level
sku_largest_ss = df_ss.nlargest(1, 'ss_95')
print("SKU with the largest safety stock (95% SL):")
sku_largest_ss[['sku_number', 'ss_95']]

SKU with the largest safety stock (95% SL):

   sku_number  ss_95
89   528EC5AC  337.0

We use nsmallest(). Note that a value of 0 is possible if an SKU had 0 variance or only one transaction.

In [ ]:
# Find the SKU with the single smallest safety stock at the 95% service level
sku_smallest_ss = df_ss.nsmallest(1, 'ss_95')
print("SKU with the smallest safety stock (95% SL):")
sku_smallest_ss[['sku_number', 'ss_95']]

SKU with the smallest safety stock (95% SL):

    sku_number  ss_95
176   9ED24ECA   32.0

In [ ]:
avg_ss_95 = df_ss['ss_95'].mean()
print(f"The average safety stock (95% SL) across all SKUs is: {avg_ss_95:.2f} units")

The average safety stock (95% SL) across all SKUs is: 105.29 units

The side-quest is featured below, starting with mstats being imported. cal_mquantiles, SKU order quantity calculations, and non-parametric safety stock calculations will follow.

In [ ]:
# Import mstats (masked statistics) from scipy.stats
from scipy.stats import mstats

print("Imported scipy.stats.mstats for non-parametric calculations.")

Imported scipy.stats.mstats for non-parametric calculations.

This function below uses scipy.stats.mstats to calculate the 75th, 90th, and 95th empirical quantiles for a data series. It's designed to work perfectly with pandas' .apply() method by returning a new series

In [ ]:
# Define a helper function that we can use with pandas' .apply() method
def calc_mquantiles(series):
    """
    Calculates the 75th, 90th, and 95th empirical quantiles
    for a pandas series using mstats.
    """
    quantiles = mstats.mquantiles(series, prob=[0.75, 0.90, 0.95])
    
    return pd.Series(quantiles, index=[0.75, 0.90, 0.95])

print("Helper function calc_mquantiles defined.")

Helper function calc_mquantiles defined.

Group by SKU, apply the calc_mquantiles helper function to find the 75th, 90th, and 95th percentile values from the actual data, and then rename the columns for clarity.

In [ ]:
print("Calculating empirical quantiles for each SKU's order_quantity...")

df_quantiles_np = df_filtered.groupby('sku_number')['order_quantity'].apply(calc_mquantiles).unstack()
# Rename the columns from the probability (e.g., 0.75) to a descriptive name (e.g., q_np_75)
df_quantiles_np = df_quantiles_np.rename(columns={
    0.75: 'q_np_75',
    0.90: 'q_np_90',
    0.95: 'q_np_95'
})

print("Quantile calculation complete. Head of quantiles:")
df_quantiles_np.head()

Calculating empirical quantiles for each SKU's order_quantity...
Quantile calculation complete. Head of quantiles:

            q_np_75  q_np_90  q_np_95
sku_number
0019425F      112.0    124.0   131.00
00DCA10C       14.0     18.0    22.00
01FE860A       14.0     19.0    20.78
0336A033      114.0    128.0   135.39
058CD6C0      113.0    124.0   131.00

Computes the final non-parametric safety stock using the formula SS = (Quantile - Average) * sqrt(Lead Time), ensuring the result is non-negative and rounded up.

In [ ]:
# Merge the original aggregated stats (df_agg) with the new non-parametric quantiles (df_quantiles_np)
df_ss_np = df_agg.merge(df_quantiles_np, on='sku_number')


df_ss_np['sqrt_lead_time'] = np.sqrt(df_ss_np['avg_lead_time'])

base_ss_75 = (df_ss_np['q_np_75'] - df_ss_np['qty_avg']).clip(lower=0)
base_ss_90 = (df_ss_np['q_np_90'] - df_ss_np['qty_avg']).clip(lower=0)
base_ss_95 = (df_ss_np['q_np_95'] - df_ss_np['qty_avg']).clip(lower=0)

df_ss_np['ss_np_75_raw'] = base_ss_75 * df_ss_np['sqrt_lead_time']
df_ss_np['ss_np_90_raw'] = base_ss_90 * df_ss_np['sqrt_lead_time']
df_ss_np['ss_np_95_raw'] = base_ss_95 * df_ss_np['sqrt_lead_time']

df_ss_np['ss_np_75'] = np.ceil(df_ss_np['ss_np_75_raw']).fillna(0)
df_ss_np['ss_np_90'] = np.ceil(df_ss_np['ss_np_90_raw']).fillna(0)
df_ss_np['ss_np_95'] = np.ceil(df_ss_np['ss_np_95_raw']).fillna(0)
# Display the final non-parametric safety stock values
print("\nNon-Parametric Safety Stock Calculations (Head):")
df_ss_np[['sku_number', 'ss_np_75', 'ss_np_90', 'ss_np_95']].head()

Non-Parametric Safety Stock Calculations (Head):

  sku_number  ss_np_75  ss_np_90  ss_np_95
0   0019425F      71.0     134.0     171.0
1   00DCA10C      16.0      31.0      46.0
2   01FE860A      17.0      36.0      42.0
3   0336A033      73.0     147.0     186.0
4   058CD6C0      76.0     135.0     172.0

No external references were used.