# **IMPORTS / USAGE**

In [71]:
from plotnine import *

from gapminder import *

from pandas import *
import pandas as pd

from numpy import *
import numpy as np

# **Question 1** `Dataframe Formatting`

#### As you load and inspect your transaction dataframe, you can observe that the column names do not follow a similar convention. Apply the changes necessary to ensure all column names follow the same convention.

In [72]:
data_1 = pd.read_csv ("/Users/andrescastillo/Library/CloudStorage/OneDrive-Personal/OneDrive/CSUSM/FALL 2025/karimi_OM_group_project/OM_620/assignment_1/data/transaction_data.csv")

In [73]:
data_1.describe ()

            leadTime     unit_price  Order-Quantity
count  400634.000000  400634.000000   400634.000000
mean       25.760976     800.308766       79.933211
std         6.465948     374.746323       41.930024
min        14.000000     -85.222467      -98.000000
25%        28.000000     982.549477       63.000000
50%        28.000000     998.073561       93.000000
75%        28.000000    1006.155114      109.000000
max      2800.000000    1023.638643      194.000000

In [74]:
# column_4 from "leadTime" to "lead_time"
# column_6 from "Manufacturing Site" to "manufacturing_site"
# column_9 from "Order-Quantity" to "order_quantity"

def clean_data(data_1):
    data_1 = data_1.rename(columns={'leadTime': 'lead_time'})
    data_1 = data_1.rename(columns={'Manufacturing Site': 'manufacturing_site'})
    data_1 = data_1.rename(columns={'Order-Quantity': 'order_quantity'})
    return data_1

data_1_clean = clean_data(data_1)
data_1_clean.head()

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity
0,F544EBC2,WIP,MTS,28,993.199814,NaN,0514,2023-01-01,97
1,F6D696A7,FG,MTS,28,1011.724796,NaN,2056,2023-01-01,95
2,53B542CB,FG,MTS,28,1005.158694,PL-5C,06CC,2023-01-01,103
3,FE55EA7C,FG,MTS,28,997.138166,NaN,02B5,2023-01-01,58
4,BF7C4C4D,FG,MTO,28,998.995060,US-86,BCF8,2023-01-01,93

In [75]:
# I have saved the data change from question 1 with file name "data_clean_question_1"
        # data_1_clean = clean_data(data_1)
        # data_1_clean.head()

# **Question 2** `Data Inspection`

#### Inspect the numeric features of your dataframe with the describe function. Provide a summary of these features, and in case there are any oddities/anomalies in your dataframe, locate and correct them.  Please remember to provide a note on any oddities you have found and a rationale for your suggested correction. You can do so by including a text for the changes you have applied in a corresponding markdown shell.

In [76]:
data_2 = pd.read_csv ("/Users/andrescastillo/Library/CloudStorage/OneDrive-Personal/OneDrive/CSUSM/FALL 2025/karimi_OM_group_project/OM_620/assignment_1/data/data_clean_question_1.csv")

In [77]:
data_2.describe

# can also do
#summary = data.describe (include = "all")
#print (summary)

# can also do
# summary = data.describe
# print (summary)

<bound method NDFrame.describe of        sku_number inventory_type stocking_type  lead_time   unit_price  \
0        F544EBC2            WIP           MTS         28   993.199814
1        F6D696A7             FG           MTS         28  1011.724796
2        53B542CB             FG           MTS         28  1005.158694
3        FE55EA7C             FG           MTS         28   997.138166
4        BF7C4C4D             FG           MTO         28   998.995060
...           ...            ...           ...        ...          ...
400629   EC6FF3B3             FG           MTS         28  1001.062261
400630   11E758A3             FG           MTS         28   998.751987
400631   4D9E4FD2             FG           MTS         28   990.457424
400632   0B4621F5             FG           MTS         28   999.121479
400633   8783A505             FG           MTS         28  1006.518704

       manufacturing_site division_code transaction_date  order_quantity
0                     NaN          0514       2023-01-01              97
1                     NaN          2056       2023-01-01              95
2                   PL-5C          06CC       2023-01-01             103
3                     NaN          02B5       2023-01-01              58
4                   US-86          BCF8       2023-01-01              93
...                   ...           ...              ...             ...
400629              JP-2B          E202       2024-12-30             101
400630              PL-D8          C672       2024-12-30             108
400631              PL-F5          C40B       2024-12-30             118
400632                NaN          EFE6       2024-12-30             148
400633                NaN          E202       2024-12-30              91

[400634 rows x 9 columns]>

In [78]:
# column_1 
    # data structure is "object"
    # simple sku identifier,  unique for each product
    # only 488 distinct SKUs
# column_2 
    # data structure is "object"
    # 
# column_3 
    # data structure is "object"
    # 
# column_4 
    # data structure is "int64"
    # 
# column_5 
    # data structure is "float64"
    # I have two SKUs with negative values (costs). The problem is that SKU 2D43CB75 appears 742 times, SKU EE77A077 appears 2759 times. 
    #   The recommendation here is that I drop the two instances for which I have two negative values without knowing what they mean, it probably has to do with a price adjustment or price item was sold at a loss, limiting losses. 
    #   However, the instance in which the negative price occurs in SKU 2D43CB75, there is a null value in column "manufacturing_site," I do not have to drop this, when I drop null values it will go away. 
    #   However, the instance in which the negative price price occurs in SKU 2D43CB75, there is no null values in any of the other columns, I must drop this row.

    # 2D43CB75
#        $(85.22)    1
#        $41.38 	68
#        $56.73 	64
#        $85.22 	124
#        $175.05 234
#        $195.74 251

    # EE77A077
#       $(49.95)	1
#       $37.57 	56
#       $47.93 	56
#       $49.95 	52
#       $53.44 	53
#       $59.53 	65
#       $987.25 1274
#       $1,012.13   1202

# column_6 
    # data structure is "object"
    # 
# column_7 
    # data structure is "object"
    # 
# column_8 
    # data structure is "object"
    # 
# column_9
    # data structure is "int64"
    #

In [81]:
data_2_clean = data_2
data_2_clean = data_2_clean[data_2_clean["unit_price"] != -49.9498371307158]
data_2_clean = data_2_clean[data_2_clean["unit_price"] != -85.2224673991495]
data_2_clean

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity
0,F544EBC2,WIP,MTS,28,993.199814,NaN,0514,2023-01-01,97
1,F6D696A7,FG,MTS,28,1011.724796,NaN,2056,2023-01-01,95
2,53B542CB,FG,MTS,28,1005.158694,PL-5C,06CC,2023-01-01,103
3,FE55EA7C,FG,MTS,28,997.138166,NaN,02B5,2023-01-01,58
4,BF7C4C4D,FG,MTO,28,998.995060,US-86,BCF8,2023-01-01,93
...,...,...,...,...,...,...,...,...,...
400629,EC6FF3B3,FG,MTS,28,1001.062261,JP-2B,E202,2024-12-30,101
400630,11E758A3,FG,MTS,28,998.751987,PL-D8,C672,2024-12-30,108
400631,4D9E4FD2,FG,MTS,28,990.457424,PL-F5,C40B,2024-12-30,118
400632,0B4621F5,FG,MTS,28,999.121479,NaN,EFE6,2024-12-30,148
400633,8783A505,FG,MTS,28,1006.518704,NaN,E202,2024-12-30,91

# **Question 3** `Nan Values`

#### Your transactional dataset includes many missing values. Find and address (in your dataframe) the missing values by column. Once more, remember to provide a note on the NaN values you found and a rationale for your suggested action.

In [82]:
data_3 = pd.read_csv ("/Users/andrescastillo/Library/CloudStorage/OneDrive-Personal/OneDrive/CSUSM/FALL 2025/karimi_OM_group_project/OM_620/assignment_1/data/data_clean_question_2.csv")

In [ ]:
print("Column names:", data_3.columns.tolist())
print("\nData types:\n", data_3.dtypes)
print("\nNull values per column:\n", data_3.isnull().sum())

Column names: ['sku_number', 'inventory_type', 'stocking_type', 'lead_time', 'unit_price', 'manufacturing_site', 'division_code', 'transaction_date', 'order_quantity']

Data types:
 sku_number             object
inventory_type         object
stocking_type          object
lead_time               int64
unit_price            float64
manufacturing_site     object
division_code          object
transaction_date       object
order_quantity          int64
dtype: object

Null values per column:
 sku_number              1265
inventory_type          5912
stocking_type           6441
lead_time                  0
unit_price                 0
manufacturing_site    100069
division_code          23757
transaction_date           0
order_quantity             0
dtype: int64

In [84]:
data_3_no_nulls = data_3.dropna()
data_3_no_nulls.head()

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity
2,53B542CB,FG,MTS,28,1005.158694,PL-5C,06CC,2023-01-01,103
4,BF7C4C4D,FG,MTO,28,998.995060,US-86,BCF8,2023-01-01,93
6,3D7DF103,FG,MTS,28,996.426246,PL-F5,3B87,2023-01-01,104
9,E1CC60BC,FG,MTO,28,997.554097,PL-F5,BCF8,2023-01-01,92
10,740A6465,FG,MTO,28,995.922511,CA-0B,0514,2023-01-01,121

# **Question 4** `Usesful Information`

#### It's time to focus on the subset of this dataset we need. Since we are ultimately interested in calculating safety stock, we would like to focus on finished goods that are designated as "make to stock." Create a filtered subset of your transaction dataset and write appropriate code to answer the following questions (for the filtered data).
#### •	How many unique SKUs are we working with?
#### •	How many unique Manufacturing Sites are we working with?
#### •	How many Divisions are we working with?
#### •	What are the top and bottom 10 transactions by order quantity?
#### •	What are the top and bottom 10 transactions by total sales value? Hint: Notice sales is not a feature of this dataset, thus we must calculate it using the existing features.

In [85]:
data_4 = pd.read_csv ("/Users/andrescastillo/Library/CloudStorage/OneDrive-Personal/OneDrive/CSUSM/FALL 2025/karimi_OM_group_project/OM_620/assignment_1/data/data_clean_question_3.csv")

In [91]:
# unique SKUs
sku_count = data_4 ["sku_number"].nunique()
sku_count

480

In [92]:
# unique sites
site_count = data_4 ["manufacturing_site"].nunique()
site_count

15

In [90]:
# unique dvisions
division_count = data_4 ["division_code"].nunique()
division_count

66

In [93]:
# top 10 by order quantitiy
top_order_quantity = data_4.nlargest(n = 10, columns = "order_quantity")
top_order_quantity

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity
130857,AD8D5363,WIP,MTS,28,1001.452540,PL-F5,0514,2023-12-15,193
52836,D5C05A4C,FG,MTO,28,990.594665,PL-F5,C40B,2023-05-21,184
238533,6374C42B,RM,MTS,28,1009.715112,PL-D8,2DEB,2024-09-30,182
239759,32843A68,FG,MTS,28,1007.025152,US-86,06CC,2024-10-03,182
243437,73803309,RM,MTS,28,1018.136250,JP-2B,3B87,2024-10-13,182
208221,0336A033,FG,MTS,28,999.224537,JP-8C,EBDE,2024-07-10,181
39030,0019425F,FG,MTS,28,1004.366509,US-86,06CC,2023-04-14,180
106423,6970C929,FG,MTO,28,998.891440,JP-F8,3B87,2023-10-11,180
173778,7D60C5D8,FG,MTS,28,997.172751,PL-D8,7F24,2024-04-08,180
188914,633E44A4,FG,MTS,28,1001.723540,PL-F5,EBDE,2024-05-19,180

In [94]:
# bottom 10 by order quantity
bottom_order_quantity = data_4.nsmallest(n = 10, columns = "order_quantity")
bottom_order_quantity

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity
204813,79FAFFF1,WIP,MTS,21,207.344912,CA-0B,E202,2024-07-01,-54
24805,BC55FF7F,FG,MTO,21,191.327975,PL-E4,02B5,2023-03-07,-52
188961,0980E63F,RM,MTO,21,200.425909,PL-4A,0514,2024-05-19,-50
212703,73803309,FG,MTO,21,218.328503,PL-D8,2056,2024-07-22,-50
187305,313AF9CD,FG,MTO,21,194.559157,PL-F5,EFE6,2024-05-15,-49
73752,BED0B828,RM,MTS,21,205.361776,PL-D8,0514,2023-07-16,-48
153123,C477701E,FG,MTO,21,202.881912,PL-F5,C40B,2024-02-13,-46
154496,9115DE13,FG,MTO,21,204.428461,PL-F5,C672,2024-02-17,-46
257419,CBA11DC3,FG,MTS,21,206.590119,JP-55,C672,2024-11-19,-45
36830,BCB42CB2,FG,MTS,21,220.316820,PL-D8,629D,2023-04-08,-44

In [96]:
data_4["total_sales"] = data_4["unit_price"] * data_4["order_quantity"]
data_4.head ()

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity,total_sales
0,53B542CB,FG,MTS,28,1005.158694,PL-5C,06CC,2023-01-01,103,103531.345433
1,BF7C4C4D,FG,MTO,28,998.995060,US-86,BCF8,2023-01-01,93,92906.540590
2,3D7DF103,FG,MTS,28,996.426246,PL-F5,3B87,2023-01-01,104,103628.329580
3,E1CC60BC,FG,MTO,28,997.554097,PL-F5,BCF8,2023-01-01,92,91774.976914
4,740A6465,FG,MTO,28,995.922511,CA-0B,0514,2023-01-01,121,120506.623834

In [97]:
# top 10 transactions
top_total_sales = data_4.nlargest(n = 10, columns = "total_sales")
top_total_sales

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity,total_sales
130857,AD8D5363,WIP,MTS,28,1001.452540,PL-F5,0514,2023-12-15,193,193280.340147
243437,73803309,RM,MTS,28,1018.136250,JP-2B,3B87,2024-10-13,182,185300.797536
238533,6374C42B,RM,MTS,28,1009.715112,PL-D8,2DEB,2024-09-30,182,183768.150411
239759,32843A68,FG,MTS,28,1007.025152,US-86,06CC,2024-10-03,182,183278.577584
52836,D5C05A4C,FG,MTO,28,990.594665,PL-F5,C40B,2023-05-21,184,182269.418359
49397,2BC32D8E,FG,MTO,28,1010.985767,PL-F5,2056,2023-05-12,179,180966.452236
208221,0336A033,FG,MTS,28,999.224537,JP-8C,EBDE,2024-07-10,181,180859.641232
39030,0019425F,FG,MTS,28,1004.366509,US-86,06CC,2023-04-14,180,180785.971545
188914,633E44A4,FG,MTS,28,1001.723540,PL-F5,EBDE,2024-05-19,180,180310.237116
106423,6970C929,FG,MTO,28,998.891440,JP-F8,3B87,2023-10-11,180,179800.459130

In [98]:
# bottom 10 transactions
bottom_total_sales = data_4.nsmallest(n = 10, columns = "total_sales")
bottom_total_sales

,sku_number,inventory_type,stocking_type,lead_time,unit_price,manufacturing_site,division_code,transaction_date,order_quantity,total_sales
204813,79FAFFF1,WIP,MTS,21,207.344912,CA-0B,E202,2024-07-01,-54,-11196.625238
212703,73803309,FG,MTO,21,218.328503,PL-D8,2056,2024-07-22,-50,-10916.425134
188961,0980E63F,RM,MTO,21,200.425909,PL-4A,0514,2024-05-19,-50,-10021.295474
24805,BC55FF7F,FG,MTO,21,191.327975,PL-E4,02B5,2023-03-07,-52,-9949.054707
73752,BED0B828,RM,MTS,21,205.361776,PL-D8,0514,2023-07-16,-48,-9857.365251
36830,BCB42CB2,FG,MTS,21,220.316820,PL-D8,629D,2023-04-08,-44,-9693.940070
187305,313AF9CD,FG,MTO,21,194.559157,PL-F5,EFE6,2024-05-15,-49,-9533.398678
154496,9115DE13,FG,MTO,21,204.428461,PL-F5,C672,2024-02-17,-46,-9403.709221
153123,C477701E,FG,MTO,21,202.881912,PL-F5,C40B,2024-02-13,-46,-9332.567950
257419,CBA11DC3,FG,MTS,21,206.590119,JP-55,C672,2024-11-19,-45,-9296.555346

# **References**

#### no external references were used